<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Cloud Stack</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLink="/dashboard">Dashboard</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="p-2 text-dark" routerLink="/dashboard/shorturl">Shorten Url</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="p-2 text-dark" href="#" (click)="signout()">
            <fa-icon [icon]="faPowerOff"></fa-icon>
        </a>
    </nav>
</div>
<router-outlet></router-outlet>